@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Balsamiq+Sans&display=swap');
/*if you just pressed inspect element then welcome to my garbage code*/
/*have fun experiencing pain as you continue to read through it lmao*/

*{
  font-family: 'B612 Mono', monospace;
  color: rgb(247, 243, 243);
}

/*top bar*/
.topnav {
  background-color: #222222;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*text decorations inside buttons*/
.topnav a {
  display: block;
  display: inline-block;
  color: #c9c9c9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* color when hovering*/
.topnav a:hover {
  background-color: #868282;
  color: black;
}

/*color when selected*/
.topnav a.active {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.topText{
font-size: 30px;
font-weight: bold;
}

.boldedText{
  font-size: 20px;
  font-weight: bold;
}

.tableText{
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  }