@import url('https://fonts.googleapis.com/css2?family=SN+Pro:wght@200..900&display=swap');
/*if you just pressed inspect element then welcome to my garbage code*/
/*have fun experiencing pain as you continue to read through it lmao*/

*{
    font-family: "SN Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(247, 243, 243);

    scroll-behavior: smooth;

    &::-webkit-scrollbar {
    display: none;
    } 

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/*top bar*/
.topnav {
  background-color: #222222;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 5;
}

/*text decorations inside buttons*/
.topnav a {
  display: block;
  display: inline-block;
  color: #c9c9c9;
  text-align: lef;
  padding: 14px 54px;
  text-decoration: none;
  font-size: 15px;
  flex: 1 1 auto;
  max-width: 90px;
}

/* color when hovering*/
.topnav a:hover {
  background-color: #868282;
  color: black;
}

/*color when selected*/
.topnav a.active {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.topText{
  font-size: 1.6em;
  font-weight: bold;
  }

  .subtitle{
    font-size: 1.2em;
    font-weight: bold;
    }

.boldedText{
  font-size: 20px;
  font-weight: bold;
}

.tableText{
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  }

/* HERO LANDING */
.hero {
    height: 100vh;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    background-image: url("/tinysvillewide.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.434);
}

.hero-overlay {
    position: relative;
    z-index: 1;
    text-align: center;
}

.hero-logo {
    max-width: 1300px;
    width: 80vw;
    margin-bottom: 100px;
    image-rendering: auto;
}

.footer {
    height: 55.5vh;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    background-image: url("/7sevenpagebottom.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    max-width: 500px;
    width: 50vw;
    margin-bottom: 100px;
    image-rendering: auto;
}

/* TRAILER */
.trailer {
    width: 70vw;
    max-width: 960px;
    aspect-ratio: 16 / 9;
    height:auto;
    border: none;
    box-shadow: 0 20px 60px rgba(0,0,0,0.6);
}

.steam-cta {
    display: inline-flex;
    align-items: center;
    gap: 16px;

    padding: 14px 24px;
    margin-top: 28px;

    background: #080431;
    color: #ffffff;
    text-decoration: none;

    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);

    transition: transform 0.2s ease, filter 0.2s ease;
}


.steam-cta:hover {
    transform: translateY(-2px);
    filter: brightness(0.95);
}

/* steam logo */
.steam-icon {
    width: 50px;
    height: 50px;
}

/* vertical divider */
.steam-divider {
    width: 1px;
    height: 36px;
    background: rgba(0,0,0,0.25);
}

/* text block */
.steam-text {
    font-size: 0.9em;
    line-height: 1.1;
    text-align: left;
}

.steam-text strong {
    letter-spacing: 0.05em;
    font-size: 1em;
}

/* INFO SECTIONS */
.section {
    max-width: 50vw;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: left;
}

.section-logo {
    display: block;
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: 0 auto 40px auto;
}

.section-logo2 {
    display: block;
    width: 40%;
    max-width: 250px;
    height: auto;
    margin: 0 auto 40px auto;
}


.section h2 {
    margin-top:50px;
    font-size: 1.5em;
    margin-bottom: 20px;
}