@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Balsamiq+Sans&display=swap');
/*if you just pressed inspect element then welcome to my garbage code*/
/*have fun experiencing pain as you continue to read through it lmao*/

*{
  font-family: 'B612 Mono', monospace;
  color: rgb(247, 243, 243);
}

.ytbutton {
    background-color: #640505; 
    border:rgb(123, 6, 6);
    border-style: groove;
    border-width: 8.5px;
    color: rgb(252, 248, 248);

    width: 150px;

    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20vh;

  }

  .itchbutton {
    background-color: #ac3434; 
    border:rgb(207, 21, 21);
    border-style: groove;
    border-width: 8.5px;

    color: rgb(252, 248, 248);

    width: 150px;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20vh;
  }

  .twitterbutton {
    background-color: #151519;
    border:rgb(85, 85, 86);
    border-style: groove;
    border-width: 8.5px;

    color: rgb(252, 248, 248);

    width: 150px;

    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 20vh;
  }

  .instabutton {
    background-color: rgb(176, 36, 155);
    border:rgb(125, 37, 119);
    border-style: groove;
    border-width: 8.5px;

    color: rgb(252, 248, 248);

    width: 150px;

    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 20vh;

  }

  .center-button {
    text-align: center;
    padding-top: 25px;
  }

/*BACKGROUND*/
#grad1 {
    background-image: url("/b.png");
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}


/*TEXT*/
img {
  width: 90px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.top {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin:10px
}

.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


#titleTextWithGap{
  margin-top: 30vh;
  font-size: 45px;
  text-align: center;
}

#textBigGap{
  margin-top: 15vh;
  font-size: 45px;
  text-align: center;
}

#textGap{
  margin-top: 28vh;
  font-size: 45px;
  text-align: center;
}

#textGapBottom{
  margin-top: 3vh;
  margin-bottom: 20vh;
  font-size: 45px;
  text-align: center;
}


#maintext {
  margin-top: 25px;
  margin-bottom: -15px;
  font-size: 45px;

margin-bottom: 55px;
  text-align: center;
}

#maintext2 {
  font-size: 25px;
  margin-top: 25px;

  text-align: center;
}

#bottomtext {
  font-size: 15px;
  margin-top: 25px;

  text-align: center;
}