@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Balsamiq+Sans&display=swap');
/*if you just pressed inspect element then welcome to my garbage code*/
/*have fun experiencing pain as you continue to read through it lmao*/

*{
  font-family: 'B612 Mono', monospace;
  color: rgb(247, 243, 243);
}

.button {
  height:5vw;
  width:5vw;
  min-width: 50px;
  min-height: 50px;
  max-width: 100px;
  max-height: 100px;
  line-height:80px;
  border: 7px solid #f5f5f5;
  border-radius: 50%;
  text-align:center;
  text-decoration:none;
  margin-left: 13px;
  margin-right: 13px;
}

.button:hover {
  filter: brightness(60%);
}

.emailbutton{
  background: url(/gmail.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(231, 231, 231);
  border: .35vw solid #d4d4d4;
}

.ytbutton{
  background: url(/youtube_social_icon_red.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(201, 1, 1);
  border: .35vw solid #b90101;
}

.xbutton{
  background: url(/logo-white.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(8, 8, 8);
  border: .35vw solid #000000;
}

.itchbutton{
  background: url(/itchio-logo-textless-white.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fa5c5c;
  border: .35vw solid #e44343;
}

.squarebutton {
  width:12vw;
  height:9vw;
  min-width: 120px;
  min-height: 95px;
  max-width: 240px;
  max-height: 190px;
  border-radius: 20px;
  margin:23px;
  border: 7px solid #f5f5f5;
  text-align:center;
  text-decoration:none;
  line-height:80px;
}


.humanconnectionbutton {
  border: .4vw solid #817a7a;
  background: url(/img/thehumanconnectioin.png);
  background-size: 105%;
  background-position: center;

}

.fredsfloatsbutton {
  border: .4vw solid #df9090;
  background: url(/img/fredsfloats.png);
  background-size: 105%;
  background-position: center;
}

.cavesofmadnessbutton {
  border: .4vw solid #8e95c1;
  background: url(/img/townoftinysville.png);
  background-size: 105%;
  background-position: center;
}

.squarebutton:hover {
  filter: brightness(85%);
}

.toweringInfinityDisplay {
  border-radius: 20px;
  text-align:center;
  text-decoration:none;
  line-height:80px;
  width:12vi;
  height:12vi;
  min-width: 100px;
  min-height: 100px;
  max-width: 200px;
  max-height: 200px;
  border: .4vw solid #2b81b7;
  background: url(/toweringInfinityLogo.png);
  background-size: 100%;
  background-position: center;
}

.googleplayButton {
  width:12vi;
  height:6vi;
  max-width: 200px;
  max-height:100px;
  border-style: none;
  background: url(/google-play-badge.png);
  background-size: 100%;
  background-position: center;
}

.googleplayButton:hover {
  filter: brightness(155%);
  filter: invert();

}

.appleButton {
  width:12vi;
  height:6vi;
  max-width: 200px;
  max-height:68px;
  border-style: none;
  background: url(/appstorebadge.svg);
  background-size: 100%;
  background-position: center;
}

.appleButton:hover {
  filter: brightness(155%);
  filter: invert();
}

/*top bar*/
.topnav {
  background-color: #222222;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*text decorations inside buttons*/
.topnav a {
  display: block;
  display: inline-block;
  color: #c9c9c9;
  text-align: lef;
  padding: 14px 54px;
  text-decoration: none;
  font-size: 15px;
  flex: 1 1 auto;
  max-width: 90px;
}

/* color when hovering*/
.topnav a:hover {
  background-color: #868282;
  color: black;
}

/*color when selected*/
.topnav a.active {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.topText{
  font-size: 1.6em;
  font-weight: bold;
  }

  .subtitle{
    font-size: 1.2em;
    font-weight: bold;
    }

.boldedText{
  font-size: 20px;
  font-weight: bold;
}

.tableText{
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  }