@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');

html {
    height: 100%;
    background: linear-gradient(rgb(70, 70, 70), black);
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#title{   
    background-color: #f7f7f700; 
    color: #ffffff; 
    font-family: 'Skranji'; 
    font-size: 55px; 
    line-height: 0; 
    text-align: left;
} 

#subtitle{   
    background-color: #f7f7f700; 
    color: #ffffff; 
    font-family: 'Skranji'; 
    font-size: 42px; 
    line-height: 0; 
    text-align: left;
} 

#regtext{   

    scroll-padding-block-start: 55;
    background-color: #f7f7f700; 
    color: #ffffff; 
    font-family: 'Skranji'; 
    font-size: 40px; 
    text-align: center;
    line-height: 2.5; 
    
} 

#regtext2{   

    scroll-padding-block-start: 55;
    background-color: #f7f7f700; 
    color: #ffffff; 
    font-family: 'Skranji'; 
    font-size: 30px; 
    text-align: center;
    line-height: 1.5; 
    font-style: normal;
} 


#projects {

  text-align: center;
}

.navbar {
  text-align: left;
  overflow: auto;
  }
  
  .navbar a {
    float:left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 27px;
    font-family: 'Skranji';
  }
  
  .navbar a:hover {
    background-color: rgba(0, 0, 0, 0.24);
  }
  
  .navbar a.active {
    background-color: #383838;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float:right;
      display: block;
      width: 100%;
    }
  }
  